<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vuejs</title>
	<script src="vue.js"></script>
</head>
<body>
	<div id="app">
  		{{ message }}
	</div>

	<div id="app-2">
		<span v-bind:title="message">
		 Hover your mouse over me for a few seconds to see my dynamically bound title!
		</span>
	</div>

	<div id="app-3">
	  <p v-if="seen">Now you see me</p>
	</div>


	<div id="app-4">
	  <ol>
	    <li v-for="todo in todos">
	      {{ todo.text }}
	    </li>
	  </ol>
	</div>



	<div id="app-5">
 		 <p>{{ message }}</p>
  		<button v-on:click="reverseMessage">Reverse Message</button>
	</div>

<br>
	<div id="app-6">
		  <input v-model="message">
		  <p>{{ message }}</p>
		  <p>{{ message }}</p>

	</div>




	<script>
		var app = new Vue({
		  el: '#app',
		  data: {
		    message: 'Hello Vue!'
		  }
		})
		var app2 = new Vue({
		  el: '#app-2',
		  data: {
		    message: 'You loaded this page on ' + new Date()
		  }
		})
		//条件与循环
		var app3 = new Vue({
		  el: '#app-3',
		  data: {
		    seen: false
		  }
		})
		var app4 = new Vue({
		  el: '#app-4',
		  data: {
		    todos: [
		      { text: 'Learn JavaScript' },
		      { text: 'Learn Vue' },
		      { text: 'Build something awesome' }
		    ]
		  }
		})
		//处理用户输入
		var app5 = new Vue({
		  el: '#app-5',
		  data: {
		    message: 'Hello Vue.js!'
		  },
		  methods: {
		    reverseMessage: function () {
		      this.message = this.message.split('').reverse().join('')
		    }
		  }
		})
		//双向数据绑定
		var app6 = new Vue({
		  el: '#app-6',
		  data: {
		    message: 'Hello Vue!'
		  }
		})
	</script>
</body>
</html>