.mainNav.skin_0{
	background: #4A4A4A;
}
#jnCatalog.skin_0 h2 {
    background-color: #6E6E6E;
}
.mainNav.skin_1{
	background: #BE46D8;
}
#jnCatalog.skin_1 h2 {
    background-color: #D49AE1;
}
.mainNav.skin_2{
	background: #E44072;
}
#jnCatalog.skin_2 h2 {
    background-color: #F296B2;
}
.mainNav.skin_3{
	background: #37C7D4;
}
#jnCatalog.skin_3 h2 {
    background-color: #98E0E6;
}
.mainNav.skin_4{
	background: #F9AF2A;
}
#jnCatalog.skin_4 h2 {
    background-color: #FFCF78;
}
.mainNav.skin_5{
	background: #B1D410;
}
#jnCatalog.skin_5 h2 {
    background-color: #CDE074;
}
/*#jnCatalog h2{
	height:30px;
	line-height:30px;
	color:#fff;
	font-size:12px;
	text-indent:13px;
	background-color:#6E6E6E;
}*/